<h3>タグリスト</h3>
<% @tag_list.each do |list| %>
  <%= list.tag_name %>
  <%= "(#{list.dogs.count})" %>
<% end %>
<br>
<%= "#{@tag.tag_name}" %>
<br>
<% @dogs.each do |dog| %>
  <%= link_to dog.cafe_name, dog %>
<% end %>